.city-name {
  font-size: 30px;
  padding: 10px 0 0;
  text-transform: capitalize;
}

.weather-description {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: light;
  margin: 5px 0;
}

.current-temp {
  font-size: 80px;
  margin: 15px 0;
}

.today {
  text-align: start;
  font-size: 18px;
  margin: 0 0 10px;
}

.today span:last-child {
  font-weight: bold;
  font-size: 14px;
}
